html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--text);
  background: #fff;
}
.layout {
  display: grid;
  grid-template-columns: 1fr;
}
.main-column {
  min-height: 100vh;
}
html {
  scroll-behavior: smooth;
}
